AWS_REGION=us-west-2
AWS_ACCOUNT_ID=123456789012

AWS_ACCESS_KEY_ID=AKIAEXAMPLEPLACEHOLDER
AWS_SECRET_ACCESS_KEY=exampleSecretAccessKeyPlaceholder
AWS_SESSION_TOKEN=

AWS_ECR_STACK_NAME=linkedinclone-member1-ecr
AWS_APP_STACK_NAME=linkedinclone-member1

AWS_ECR_REGISTRY=123456789012.dkr.ecr.us-west-2.amazonaws.com
AWS_PROFILE_REPOSITORY=linkedinclone-profile
AWS_JOB_REPOSITORY=linkedinclone-job
AWS_APPLICATION_REPOSITORY=linkedinclone-application
AWS_IMAGE_TAG=member1-latest

AWS_DB_NAME=linkedinclone
AWS_DB_USER=admin
AWS_DB_PASSWORD=ChangeMe123!

AWS_VPC_CIDR=10.40.0.0/16
AWS_PUBLIC_SUBNET_1_CIDR=10.40.1.0/24
AWS_PUBLIC_SUBNET_2_CIDR=10.40.2.0/24
AWS_DB_INSTANCE_CLASS=db.t3.micro
