DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=linkedin
DB_NAME=linkedinclone

MONGO_URI=mongodb://localhost:27017/linkedinclone
REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=linkedinclone

AWS_REGION=us-west-2
AWS_ACCOUNT_ID=123456789012
AWS_ACCESS_KEY_ID=AKIAEXAMPLEPLACEHOLDER
AWS_SECRET_ACCESS_KEY=exampleSecretAccessKeyPlaceholder
AWS_SESSION_TOKEN=

AWS_ECR_STACK_NAME=linkedinclone-backend-ecr
AWS_APP_STACK_NAME=linkedinclone-backend-platform
AWS_ECR_REGISTRY=123456789012.dkr.ecr.us-west-2.amazonaws.com
AWS_PROFILE_REPOSITORY=linkedinclone-profile-service
AWS_JOB_REPOSITORY=linkedinclone-job-service
AWS_APPLICATION_REPOSITORY=linkedinclone-application-service
AWS_IMAGE_TAG=backend-latest

AWS_DB_NAME=linkedinclone
AWS_DB_USER=admin
AWS_DB_PASSWORD=ChangeMe123!
AWS_VPC_CIDR=10.40.0.0/16
AWS_PUBLIC_SUBNET_1_CIDR=10.40.1.0/24
AWS_PUBLIC_SUBNET_2_CIDR=10.40.2.0/24
AWS_ADMIN_CIDR=203.0.113.10/32
AWS_DB_INSTANCE_CLASS=db.t3.micro
