DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=root
DB_PASS=linkedin
DB_NAME=linkedinclone
MONGO_URI=mongodb://127.0.0.1:27017/linkedinclone
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
KAFKA_BROKERS=127.0.0.1:9092
KAFKA_CLIENT_ID=linkedinclone
